.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.price {
  font-size: 3rem;
  font-weight: bold;
  color: #101820;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  gap: 10px;
  .symbol{
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.description {
  color: #9FA3A6;
}

.date{
  margin-top: 10px;
}